html { 
	cursor: url(/img/HoverBigOR.ani),auto;/* url地址可以是链接，相对位置，绝对位置 */
	background-color: ''  /* 写成透明就行 */
}

/* 封面大图 */
.banner {
	cursor: url(/img/HoverBigOR.ani),auto;
	background-color: ''
}

/* 封面向下 */
.scroll-down-bar {
	cursor: url(/img/hand.cur),auto; /* 一个小手 */
	background-color: ''
}

/* .navbar {
    cursor: url(/img/HoverBigRD.ani),auto;
	background-color: ''
}

.menu {
    cursor: url(/img/HoverBigRD.ani),auto;
	background-color: ''
} */

/* 所有可跳转链接 */
a[href] {
	cursor: url(/img/HoverBigBL.ani),auto;
	background-color: ''
}

/* 搜索框关闭按钮  */
#local-search-close.close {
	cursor: url(/img/HoverBigGN.ani),auto;
	background-color: ''
}

/* 搜索框、输入框 */
input,textarea {
	cursor: url(/img/HoverBigRD.ani),auto;    /* 这里应该是竖条光标 */
	background-color: ''
}

/* 代码复制键 按钮键增加!important属性后可删 */
.copy-btn.copy-btn-light {
	cursor: url(/img/HoverBigYL.ani),auto !important;
	background-color: ''
}

/* 按钮 */
button[class] {
	cursor: url(/img/HoverBigGN.ani),auto;
	background-color: ''
}

/* 补充按钮 */
svg {
	cursor: url(/img/HoverBigYL.ani),auto;
	background-color: rgba(0, 0, 0, 0.0);
}